<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h3>Welcome</h3>
    <form action="/movies/create" method="POST">
        <input type="text" name="movieId" id="movieId" placeholder="Enter Key" required>
        <input type="text" name="name" id="name" placeholder="Enter Name" required>
        <button>Create</button>
    </form>

    <a href="/movies">See all Data</a>

</body>
</html>